{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<style>
    #div {
        position: relative;
        left: 10%;
        top: 10%;
        width: 50%;
    }

    #create_account {
        position: relative;
        left: 10%;
        top: 6%;
    }

    #need_account {
        position: relative;
        left: 10%;
        top: 25%;
        padding-top: 7%;
    }

    #message {
        position: relative;
        top: 20px;
        right: 20%;
        left: 30%;
        font-size: 150%;
    }
</style>
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <div id="message" role="alert">
        {{ message }}
    </div>
    {% endfor %}
</ul>
{% endif %}
<h1 id="create_account">Reset password</h1>
<br>
<form method="POST" action="{% url 'login' %}">
    {% csrf_token %}
    <div id="div">
        {{ form|crispy }}
        <br>
        <button type="submit" class="btn btn-outline-info">Reset password</button>
    </div>
</form>
<br>
<br>

{% endblock content %}